[Unit]
Description=Service to download latest daylight.sh and install it in /opt/bin

[Service]
ExecStart=/opt/svc/fresh-daylight/bin/run.sh
Type=oneshot
User=ubuntu
WorkingDirectory=/opt/svc/fresh-daylight

[Install]
WantedBy=multi-user.target