[Unit]
Description=Timer file for the fresh-daylight service

[Timer]
OnCalendar=hourly
Persistent=true
Unit=fresh-daylight.service

[Install]
WantedBy=timers.target