[Unit]
Description=Download, validate, and conditionally install latest daylight.sh

[Service]
ExecStart=/opt/svc/fresh-daylight/bin/run.sh
Type=oneshot
User=rayray
WorkingDirectory=/opt/svc/fresh-daylight

[Install]
WantedBy=multi-user.target
